from app.classes.Connection import Database_connection

class DatabaseManager():
    def __init__(self):
        self.connection = Database_connection('192.168.XXX.XX', 'database', 'userDB', 'password')